
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  wx.config({
    debug: false,
    appId     : "<%= @wechat.app_id %>",
    timestamp : "<%= @wechat.timestamp %>",
    nonceStr  : "<%= @wechat.noncestr %>",
    signature : "<%= @wechat.signature(request.original_url) %>",
    jsApiList: [
    'checkJsApi',
    'onMenuShareTimeline',
    'onMenuShareAppMessage',
    'onMenuShareQQ',
    'onMenuShareWeibo',
    'hideMenuItems',
    'showMenuItems',
    'hideAllNonBaseMenuItem',
    'showAllNonBaseMenuItem'
    ]
  })
  var set_up_share;

  set_up_share = function(data) {
    var share_data;
    title = document.getElementById('title').value
    desc = document.getElementById('desc').value
    share_data = {
      title: desc,
      imgUrl: 'http://uniqueway.b0.upaiyun.com/2017_wishmap/108x108.png',
      link: location.href,
      success: function() {
        ga('send', 'event', 'button', 'share', '2017_wishmap');
      },
      cancel: function() {
        return 0;
      }
    };
    wx.onMenuShareTimeline(share_data);
    other_data = JSON.parse(JSON.stringify(share_data))
    other_data.title = title
    other_data.desc = desc
    wx.onMenuShareAppMessage(other_data);
    wx.onMenuShareQQ(other_data);
    wx.onMenuShareWeibo(other_data);
  };
  wx.ready(function() {
    set_up_share();
  })
}, false);

</script>
