// Place all the styles related to the wish_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseBlue: rgb(90, 157, 202);

.hide {
  display: none;
}
body {
/*  animation: fadein 3s;*/
}
#wishmap {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: $baseBlue;
  .button_group {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
  }
  .submit_button {
    position: fixed;
    z-index: 909;
    bottom: 25px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border: 1px solid #5a9dca;
    background: #fff;
    border-radius: 3px;
    color: #5a9dca;
    text-align: center;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    box-shadow: 0 0 2px rgba(90, 157, 202, 0.5);
    display: none;
  }
  .flag_item {
    position: relative;
    display: inline-block;
    margin: 5px 5px 20px;
  }
  input[type=checkbox] {
    position: absolute;
    opacity:0;
  }
  input[type=checkbox] + label {
    background-position: 20% 20%;
    height: 45px;
    width: 45px;
    border-radius: 35px;
    display: inline-block;
    padding: 0 0 0 0px;
    border: 5px solid #fafafa;
    background-size: cover;
    position: relative;
    span {
      position: absolute;
      font-size: 0.6rem;
      bottom: -35px;
      overflow: hidden;
      width: 100%;
      padding: 0 1px;
      box-sizing: border-box;
      height: 30px;
      left: 0;
      line-height: 15px;
    }
  }
  .continent {
    padding: 0 20px;
    h5 {
      padding: 10px 0;
      span {
        float: right;
        margin-top: 5px;
        transition: all 0.35 linear !important;
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #5a9dca;
      }
      .arrow-up {
        transform:rotate(0deg);
      }
      .arrow-down {
        transform:rotate(-180deg);
      }
    }
  }
  .selection_list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px;
    box-sizing: border-box;
    .continent:last-child {
      margin-bottom: 100px;
    }
    
  }
  input[type=checkbox]:checked + label {
    border-color: $baseBlue;
  }
  
  .introduce_page {
    img {
      width: 100%;
    }
    .desc {
      line-height: 1;
      text-align: center;
      p {
        font-size: 0.8rem;
        margin: 0;
        margin-bottom: 5px;
      }
    }
    .button {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 0 10px;
      margin-top: 20px;
      a {
        padding: 10px 0;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        border: 1px solid $baseBlue;
        background: #fff;
        border-radius: 3px;
        color: $baseBlue;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
    .banner {
      position: relative;
      width: 320px;
      height: 242px;
      margin: 0 auto 20px;
      .fix_item {
        position: absolute;
        z-index: 1;
      }
      .wheel {
        top: 152px;
        left: 95px;
        width: 70px;
        animation:spin 14s ease-in-out	 infinite;
      }
      .body {
        position: relative;
        z-index: 3;
      }
      .banner_star {
        top: 14px;
        left: 90px;
        width: 18px;
        animation:reverse_spin 20s linear infinite;
      }
      .tiny_star {
        top: 14px;
        left: 200px;
        width: 13px;
        animation: spin 2s ease-in-out	 infinite;

      }
      .left_up_cloud {
        top: 48px;
        left: 56px;
        width: 20px;
        animation: left_to_right_five 5s linear infinite;

      }
      .left_bottom_cloud {
        top: 118px;
        left: 46px;
        width: 30px;
        animation: left_to_right_five 2s ease-in-out infinite;
      }
      .left_up_cloud {
        
      }
      .right_bottom_cloud {
        right: 20px;
        top: 140px;
        width: 30px;
        animation: right_to_left_twenty 5s linear infinite;
      }
      .right_up_cloud {
        right: 50px;
        top: 85px;
        width: 30px;
        animation: left_to_right_twentry 5s linear infinite;
        
      }

    }
    
  }
}
#map_container{
  margin:0 auto;
  position: relative;
  width: 100%;
  height: 260px;
}

.title_bar {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  span {
    font-size: 1rem;
  }
  img {
    width: 30px;
    display: inline;
    margin: 0 5px;
    position: relative;
    top: -5px;
  }
}

.page-container {
  .result {
    text-align: center;
    p {
      opacity: 0;
      font-size: 12px;
      margin: 20px 20px 0;
      line-height: 25px;
      &.light {
        margin-top: 5px;
      }
      &.more {
        margin-bottom: 10px;
      }
    }
    span {
      font-size: 30px;
      color: #09B6AE;
      font-weight: bold;
      &.small {
        display: block;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
  .bottom_block {
    background-image: url("http://uniqueway.b0.upaiyun.com/2017_wishmap/show/bottom_bg.png!w700");
    background-position: 0 100%;
    position: absolute;
    height: 220px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-size: cover;
    .share_button {
      font-weight: bold;
      position: absolute;
      bottom: 25px;
      left: 50%;
      width: 220px;
      margin-left: -110px;
      border: 1px solid #5a9dca;
      background: #fff;
      border-radius: 3px;
      color: #5a9dca;
      text-align: center;
      text-decoration: none;
      height: 30px;
      line-height: 30px;
      font-size: 0.9rem;
    }

  }
}
.page-container,.introduce_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section {
  text-align: center;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.wish_bg {
    background-image: url(http://uniqueway.b0.upaiyun.com/2017_wishmap/index/index_bg.png);
    background-size: cover;
    background-position: 50% 50%;
    z-index: 9;
    p {
      width: 100%;
      margin-bottom: 10px;
      &.first { 
        margin-top: 90px;
      }
      &.bottom_fix_text {
        position: absolute;
        bottom: 30%;
        width: 180px;
        left: 50%;
        margin-left: -90px;
      }
    }
  }
  .fp-tableCell {
    display: block;
  }
  .slide_down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 34px;
    margin-left: -17px;
    animation:shing 1s linear infinite;
    img {
      width: 100%;
    }
  }
  form {
    margin-top: 20px;
    h5 {
      text-align: left;
      border-bottom: 1px solid rgba(90,157,202,0.3);
      margin: 0 15px;
      line-height: 20px;
      font-size: 0.9rem;
    }
  }
}

.tips_block {
  position: relative;
  z-index: 999;
  width: 230px;
  height: 100px;
  margin: 30px auto;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 14px rgba(43,130,190,0.3);
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  p {
    font-size: 12px;
    margin-bottom: 5px;
    span{
      font-weight: bold;
      color: #09B6AE;
      &.big {
        font-size: 20px;
      }
    }
    &.small {
      font-size: 10px;
    }
  }
}

.share_block {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  h5 {
    margin-top: 100px;
    text-align: center;
    color: #fff;
  }
  img {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
  }
}

@keyframes shing {
    0% { opacity:(1); }
    50% { opacity:(0.4); }
    100% { opacity:(1); }
}


@keyframes left_to_right_five { 
  0% { transform:translate(0,0); }
  50% { transform:translate(5px,0); }
  100% { transform:translate(0,0); }
}


@keyframes left_to_right_twentry { 
  0% { transform:translate(0,0); }
  50% { transform:translate(20px,0); }
  100% { transform:translate(0,0); }
}

@keyframes right_to_left_twenty { 
  0% { transform:translate(0,0); }
  50% { transform:translate(-20px,0); }
  100% { transform:translate(0,0); }
}



@keyframes reverse_spin { 100% { transform:rotate(-360deg); } }
@keyframes spin { 100% { transform:rotate(360deg); } }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}