<%= form_tag(wish_maps_path, method: "POST", class: 'selection_list') do %>
  <%= hidden_field_tag('uuid', SecureRandom.uuid) %>
  <%= link_to "生成我的足迹地图", 'javascript:;', class: 'submit_button' %>

  <% continent_set = CountryFlag.all_flag.group_by {|d| d['continent']} %>
  <% ["亚洲", "欧洲", "北美洲", "大洋洲","非洲", "南美洲",  "南极洲"].each do |continent_name| %>
    <% list = continent_set[continent_name] %>
    <% if list && list.count > 1 %>
    <div class="continent clearfix">
      <h5><%= continent_name %><span class='arrow-up'></span></h5>
      <div class="flag_list hide">
        <% list.each do |flag| %>
        <span class="flag_item">
          <input type='checkbox' id="flag<%= flag["id"] %>" value="<%= flag["isoAlpha3"] %>" />
          <label style='background-image:url(<%= "#{flag['url']}!w90" %>)' for="flag<%= flag["id"] %>">
            <span>
              <%= flag["c_name"] %>
            </span>
          </label>
        </span>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
  
<% end %>
