<div class="introduce_page">
  <div class="banner">
    <div class='fix_item banner_star'>
      <%= map_image 'banner_star.png' %>
    </div>
    <div class='fix_item tiny_star'>
      <%= map_image 'tiny_star.png' %>
    </div>
    <div class='fix_item left_bottom_cloud'>
      <%= map_image 'left_bottom_cloud.png' %>
    </div>
    <div class='fix_item left_up_cloud'>
      <%= map_image 'left_bottom_cloud.png' %>
    </div>
    
    <div class='fix_item right_bottom_cloud'>
      <%= map_image 'right_bottom_cloud.png' %>
    </div>
    <div class='fix_item right_up_cloud'>
      <%= map_image 'right_up_cloud.png' %>
    </div>
    <div class="fix_item wheel">
      <%= map_image 'circle.png' %>
    </div>
    <div class="body">
      <%= map_image 'banner_body.png' %>
    </div>
  </div>
  <div class='desc'>
    <p class='hide'>又到一年一度的“年底大盘点”！</p>
    <p class='hide'>2016年你买了几个包？</p>
    <p class='hide'>读了几本书？</p>
    <p class='hide'>跑了几次步？</p>
    <p class='hide'>……</p>
    <p class='hide'>对于爱折腾的你来说，以上这些还不够！</p>
    <p class='hide'>年底总结必然要有各种地名大串烧！</p>
    <p class='hide'>2016年，你走过哪些路？</p>
    <p class='hide'>未来，你还要环游几个世界？</p>
    <div class="hide part button_group">
      <div class="button">
        <%= link_to '晒2016年的足迹', 'javascript:;', data:{ type: 'been' } %>
      </div>
      <div class="button">
        <%= link_to '制作2017年心愿地图', 'javascript:;', data:{ type: 'wish' } %>
      </div>
    </div>
  </div>
</div>
