<!-- http://uniqueway.b0.upaiyun.com/2017_wishmap/index/index_bg.png -->
<%= render 'introduce_page' %>

<div class="page-container hide">
  <div class="section wish_bg">
    <%= title_bar '2017年心愿地图' %>
    <p class='first'>去法国买几个包；</p>
    <p>去荷兰看橱窗女郎；</p>
    <p>去英国的酒吧喝个够；</p>
    <p>去美国自驾看最美公路；</p>
    <p>去日本跑一场樱花马拉松；</p>
    <p>去……</p>
    <p class='bottom_fix_text'>
      列出未来你想去的地方，点亮你的心愿地图——
    </p>
    <div class='slide_down'>
      <%= map_image 'slide_down.png' %>
    </div>
  </div>
  <div class="section flags">
    <%= title_bar '2016年 我已经走过这些地方' %>
    <div id='map_container'>
    </div>
    <%= render 'form' %>
  </div>
</div>


<%= render '/shared/wechat' %>

<%= hidden_field_tag :title, '无二之旅2017心愿地图' %>
<%= hidden_field_tag :desc, '无二之旅，实现你每一个关于旅行的小心愿。' %>