<div class="page-container">
  <%= title_bar @wish_map.wish.any? ? '2017心愿地图' : '2016我的足迹' %>

  <div class="result">
    <% if @wish_map.wish.any? %>
    <% countries = CountryFlag.where(isoAlpha3: @wish_map.wish).pluck(:c_name) %>
    <% if countries.count > 3 %>
    <p><span class='small'><%= countries[0..2].join(',') %>…<%= countries.count %>个国家及地区</span></p>
    <% else %>
    <p><span class='small'><%= countries.join(',') %></span></p>
    <% end %>
    <p class="more">未来还有<span><%= @wish_map.distance * 2 %></span>里路等着你，</p>
    <p class='light'>你只需决定出发。</p>
    <p class='light'>2017年开始，</p>
    <p class='light'>做个有『鸡』情的人，</p>
    <p class='light'>让别人『鸡』妒到底！</p>
    <% else %>
    <% countries = CountryFlag.where(isoAlpha3: @wish_map.been).pluck(:c_name) %>
    <% if countries.count > 3 %>
    <p>2016年我去了<span class='small'><%= countries[0..2].join(',') %>…<%= countries.count %>个国家及地区</span></p>
    <% else %>
    <p>2016年我去了<span class='small'><%= countries.join(',') %></span></p>
    <% end %>
    <p>走过<span><%= @wish_map.distance * 2 %></span>里路</p>
    <p>已经环游了<span><%= number_to_percentage @wish_map.round_trip_percent, precision: 0 %></span>的世界！</p>
    <p>击败了 <span><%= number_to_percentage @wish_map.wining_percent, precision: 0 %></span> 的人</p>
    <% end %>
  </div>
  <div class='tips_block'>
    <p>搜索公众号<span>"无二之旅"</span>，添加关注，</p>
    <p>回复你想去的<span>目的地+心愿地图</span></p>
    <p class='small'>(如回复：日本 心愿地图)</p>
    <p>即可领取 <span class='big'>666</span> 元的旅行基金！</p>
  </div>
  
  
  <div class="bottom_block">
    <% if Redis.current.get @wish_map.uuid %>
      <%= link_to @wish_map.wish.any? ? "晒心愿" : "去炫耀", 'javascript:;', class: 'share_button go' %>
      <% Redis.current.del @wish_map.uuid %>

    <% else %>
      <%= link_to "我也要玩", wish_maps_path(), class: 'share_button' %>
    
    <% end %>
  </div>
</div>

<div class="share_block">
  <%= map_image "arrow.png" %>
  <h5>
    点此处分享给好友或朋友圈
  </h5>
</div>

<%= render '/shared/wechat' %>
<%= hidden_field_tag :title, @wish_map.wish.any? ? '2017心愿地图' : '2016我的足迹' %>
<%= hidden_field_tag :desc, share_desc(@wish_map.wish.any?) %>