<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "心愿地图" %></title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=0" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="wishmap">
  <%= yield %>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56818489-1', 'auto');
ga('send', 'pageview');
</script>
